@page "/transactions"
@inject AuthenticationStateProvider AuthProvider
@inject HttpClient Http
@inject NavigationManager Nav

<h3>Transacciones</h3>

<p>
    <a class="btn btn-outline-primary" href="transactions/add">+ Nueva Transacción</a>
    <a class="btn btn-outline-success" href="importar-transacciones">+ Importar Transacciónes Excel/CSV</a>
    <a class="btn btn-outline-secondary" href="sincronizar-emails">+ Sincronizar Emails</a>
</p>

<!-- FILTROS -->
<div class="row g-3 mb-4">
    <div class="col-md-2">
        <label class="form-label">Desde</label>
        <InputDate @bind-Value="filterStart" class="form-control" />
    </div>
    <div class="col-md-2">
        <label class="form-label">Hasta</label>
        <InputDate @bind-Value="filterEnd" class="form-control" />
    </div>
    <div class="col-md-2">
        <label class="form-label">Tipo Transacción</label>
        <InputSelect @bind-Value="filterTransactionType" class="form-control">
            <option value="">Todas</option>
            <option value="Income">Ingreso</option>
            <option value="Expense">Gasto</option>
        </InputSelect>
    </div>
    <div class="col-md-3">
        <label class="form-label">Descripción</label>
        <InputText @bind-Value="filterDescription" class="form-control" placeholder="Texto libre..." />
    </div>
    <div class="col-md-1 d-flex align-items-end">
        @* <button class="btn btn-primary w-100" @onclick="LoadTransactionsAsync">Filtrar</button> *@
        <button class="btn btn-primary w-100" @onclick="ApplyFiltersAsync" type="button">Filtrar</button>
    </div>
</div>

<!-- ORDEN -->
<div class="row align-items-end mb-4">
    <div class="col-md-3">
        <label class="form-label">Ordenar por</label>
        @* <InputSelect @bind-Value="sortField" class="form-control"> *@
        <InputSelect @bind-Value="sortField" class="form-control" @onchange="OnSortChanged">
            <option value="Date">Fecha</option>
            <option value="TransactionType">Tipo de Trasnsacción</option>
            <option value="Description">Descripción</option>
            <option value="Amount">Monto</option>
        </InputSelect>
    </div>
    <div class="col-md-2">
        <div class="form-check mt-4">
            @* <InputCheckbox @bind-Value="sortDesc" class="form-check-input" id="sortDesc" /> *@
            <InputCheckbox @bind-Value="sortDesc" class="form-check-input" id="sortDesc" @onchange="OnSortChanged" />
            <label class="form-check-label" for="sortDesc">Descendente</label>
        </div>
    </div>
</div>

@if (transactions is null)
{
    <p><em>Cargando…</em></p>
}
else if (!transactions.Any())
{
    <p>No hay transacciones.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Fecha</th>
                <th>Tipo de Transacción</th>
                <th class="text-end">Monto</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var t in transactions) *@
            @for (var index = 0; index < transactions.Count; index++)
            {
                var t = transactions[index];
                var rowNumber = (currentPage - 1) * pageSize + index + 1;
                if(t.TransactionType == "Income")
                {
                    amountClass = "text-success fw-bold";
                }
                else if(t.TransactionType == "Expense")
                {
                    amountClass = "text-danger fw-bold";
                }
                else
                {
                    amountClass = string.Empty;
                }
                <tr>
                    @* <td>@id</td> *@
                    <td>@rowNumber</td>
                    <td>@t.Date.ToShortDateString()</td>                    
                    <td>
                        @(t.TransactionType == "Income" ? "Ingreso" : t.TransactionType == "Expense" ? "Gasto" : t.TransactionType)
                    </td>
                    <td class="text-end @amountClass">@t.Amount.ToString("C")</td>
                    <td>@t.Description</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="transactions/edit/@t.Id">Editar</a>
                        <button class="btn btn-sm btn-danger" @onclick="() => Delete(t.Id)">
                            Eliminar
                        </button>
                    </td>
                </tr>
                @* id++; *@
            }
        </tbody>
    </table>
}
<!-- PAGINACIÓN -->
@if (transactions!.Any())
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">Anterior</button>
            </li>

            @for (var p = 1; p <= TotalPages; p++)
            {
                var pageNumber = p;
                <li class="page-item @(currentPage == pageNumber ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(pageNumber)">@pageNumber</button>
                </li>
            }

            <li class="page-item @(currentPage == TotalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">Siguiente</button>
            </li>
        </ul>
    </nav>
}
<!-- FIN PAGINACIÓN -->
@code {
    List<TransactionDto> transactions = new();
    // filtros
    private DateTime? filterStart;
    private DateTime? filterEnd;
    private string filterTransactionType = "";
    private string filterDescription = "";
    // ordenamiento
    private string sortField = "Date";
    private bool sortDesc;

    // paginación
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalCount;
    private int TotalPages => (int)Math.Ceiling((double)totalCount / pageSize);

    private int id = 1;
    private string amountClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity?.IsAuthenticated ?? true)
        {
            Nav.NavigateTo("/login", true);
            return;
        }
        // Inicializa al mes actual por defecto
        var hoy = DateTime.Today;
        filterStart = new DateTime(hoy.Year, hoy.Month, 1);
        filterEnd = hoy;
        await LoadTransactionsAsync();
    }
    private async Task LoadTransactionsAsync()
    {
        try
        {
            var url = QueryHelpers.AddQueryString("api/transactions", new Dictionary<string, string?>
            {
                ["startDate"] = filterStart?.ToString("yyyy-MM-dd") ?? "",
                ["endDate"] = filterEnd?.ToString("yyyy-MM-dd") ?? "",
                ["transactionType"] = filterTransactionType,
                ["description"] = filterDescription,
                ["sortField"] = sortField,
                ["sortDesc"] = sortDesc.ToString(),
                ["page"] = currentPage.ToString(),
                ["pageSize"] = pageSize.ToString()
            });
            var result = await Http.GetFromJsonAsync<PagedResultDto<TransactionDto>>(url);

            transactions = result?.Items?.ToList() ?? new List<TransactionDto>();
            totalCount = result?.TotalCount ?? 0;

            id = (currentPage - 1) * pageSize + 1; //si quieres numeración global;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error cargando transacciones: {ex.Message}");
            transactions = new List<TransactionDto>();
            totalCount = 0;
        }
    }
    private async Task ApplyFiltersAsync()
    {
        // Siempre que cambio filtros, regreso a la primera página
        currentPage = 1;
        await LoadTransactionsAsync();
    }
    private async Task OnSortChanged(ChangeEventArgs _)
    {
        currentPage = 1;
        await LoadTransactionsAsync();
    }
    private async Task ChangePage(int page)
    {
        if (page < 1) page = 1;
        if (page > TotalPages) page = TotalPages == 0 ? 1 : TotalPages;

        currentPage = page;
        await LoadTransactionsAsync();
    }
    async Task Delete(Guid id)
    {
        try
        {
            var response = await Http.DeleteAsync($"api/transactions/{id}");
            if (response.IsSuccessStatusCode)
            {
                transactions = transactions.Where(t => t.Id != id).ToList();
            }
            else
            {
                var msg = await response.Content.ReadAsStringAsync();
                Console.Error.WriteLine($"Error al eliminar: {response.StatusCode} – {msg}");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Excepción eliminando transacción: {ex.Message}");
        }
        finally
        {
            // Recargar transacciones después de eliminar
            await LoadTransactionsAsync();
        }
    }
}